{% for type in fluentd_log_type %}
<source>
  type tail
  path {{ fluentd_log_type[type].log_file }}
  pos_file {{ fluentd_log_type[type].pos_file }}
  tag {{ fluentd_application_type }}.{{ fluentd_log_type[type].name }}.service
{% if fluentd_log_type[type].tail_format is defined %}
{% for format in fluentd_log_type[type].tail_format %}
  {{ format }}
{% endfor %}
{% else %}
  format none
{% endif %}
</source>

{% endfor %}
<match {{ fluentd_application_type }}.*.service>
  type record_reformer
  renew_record false
  enable_ruby false
  tag reformat.${tag}

  <record>
    message ${hostname} ${message}
  </record>

</match>

<match reformat.{{ fluentd_application_type }}.*.service>
  type forward
  flush_interval 1s
  buffer_type file
  buffer_path /var/log/td-agent/buffer/forward_buf
  buffer_queue_limit 2048
  buffer_chunk_limit 8m
  flush_interval 60s
  expire_dns_cache 120s
  heartbeat_type tcp
  retry_limit 19

  <server>
    host {{ td_agent_host_ip }}
  </server>

</match>
